<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.animal_shelet.mapper.CommentsMapper">

    <insert id="insertForumPost">
        insert into forum_posts (title, content, views, likes, status, created_at, image_url , user_id)
        values (#{forumPosts.title}, #{forumPosts.content}, #{forumPosts.views}, #{forumPosts.likes}, #{forumPosts.status}, NOW(), #{imageUrlJson} , #{forumPosts.userId})
    </insert>
    <insert id="insertForumComments">
        insert into forum_comments (post_id, user_id, content, likes, status, created_at)
        VALUES (#{postId}, #{userId}, #{content}, #{likes}, #{status}, NOW())
    </insert>

    <update id="AuditPost">
        update forum_posts
        set content = '该内容已经被封禁',status = 1
        where id = #{postId}
    </update>

    <update id="likePost">
        UPDATE forum_posts
        SET likes = IFNULL(likes, 0) + 1
        WHERE id = #{postId}
    </update>

    <update id="unlikePost">
        UPDATE forum_posts
        SET likes = CASE WHEN likes > 0 THEN likes - 1 ELSE 0 END
        WHERE id = #{postId}
    </update>

    <select id="getForumPosts" resultMap="ForumPostsResultMap">
        select *,
               (select username from users where forum_posts.user_id = users.id) as username,
               (select count(*) from forum_comments where forum_comments.post_id = forum_posts.id) as commentsCount
               from forum_posts
        ORDER BY created_at DESC
    </select>
    
    <!-- 定义ForumPosts的ResultMap，指定imageUrlList字段使用自定义TypeHandler -->
    <resultMap id="ForumPostsResultMap" type="com.example.animal_shelet.pojo.Comment.ForumPosts">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="views" column="views"/>
        <result property="likes" column="likes"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="username" column="username"/>
        <result property="imageUrlList" column="image_url" typeHandler="com.example.animal_shelet.config.StringListTypeHandler"/>
        <result property="commentsCount" column="commentsCount"/>
    </resultMap>
    <!-- 定义ForumCommentsAndUser的ResultMap -->
    <resultMap id="ForumCommentsAndUserResultMap" type="com.example.animal_shelet.pojo.Comment.And.ForumCommentsAndUser">
        <id property="id" column="id"/>
        <result property="postId" column="post_id"/>
        <result property="userId" column="user_id"/>
        <result property="content" column="content"/>
        <result property="likes" column="likes"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="imageUrl" column="image_url"/>
        <result property="username" column="username"/>
    </resultMap>
    
    <select id="getCommentByPostId" resultMap="ForumCommentsAndUserResultMap">
        select fc.*,
               (select username from users where id = fc.user_id) as username
        from forum_comments fc
        where post_id = #{postId}
        ORDER BY fc.created_at DESC
    </select>
</mapper>