<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.animal_shelet.mapper.CommentsMapper">

    <insert id="insertForumPost">
        insert into forum_posts (title, content, views, likes, status, created_at, image_url , user_id)
        values (#{forumPosts.title}, #{forumPosts.content}, #{forumPosts.views}, #{forumPosts.likes}, #{forumPosts.status}, NOW(), #{imageUrlJson} , #{forumPosts.userId})
    </insert>
    <insert id="insertForumComments">
        insert into forum_comments (post_id, user_id, content, likes, status, created_at)
        VALUES (#{postId}, #{userId}, #{content}, #{likes}, #{status}, NOW())
    </insert>

    <update id="AuditPost">
        update forum_posts
        set content = '该内容已经被封禁',status = 1
        where id = #{postId}
    </update>
    <select id="getForumPosts" resultType="com.example.animal_shelet.pojo.Comment.ForumPosts">
        select * from forum_posts
        ORDER BY created_at DESC
    </select>
    <select id="getCommentByPostId" resultType="com.example.animal_shelet.pojo.Comment.And.ForumCommentsAndUser">
        select *,
               (select username from users where id = fc.user_id)
        from forum_comments fc
        where post_id = #{postId}
        ORDER BY fc.created_at DESC

    </select>
</mapper>